footer {
    @include flex(row, flex-end, center);
    gap: 30px;
    color: #2b4249;
    margin: 15px 5% 0px 0px;
    font-size: 3rem;
    font-weight: 600;

    .rs-logo {
        width: 115px;
    }

    .author-logo {
       height: 45px;

        &:hover {
            fill: #e4d3b4;
            transform: scale(1.1);
        }
    }

    .rs-logo-img:hover {
        transform: scale(1.1);
    }
}